# Copy this to .env and fill in
DEBUG=True
SECRET_KEY=your-secret-key Example: django-insecure-#v_7dx(qg@15b&pu6#5s_u9=qqxt7*w_3h3u718x%qho60i2d*
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=Asia/Kolkata
